/* estilos del listado de los usuarios 
en la vista principal de seleccion */
body {
    background-color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* este es el contenedor donde se general los usuarios */
.listar-usuarior{
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 10px 10px 10px black;
    padding: 20px;
}

/* estilo del encabezado */
.user-list-container h2 {
    text-align: center;
    margin-top: 0;
}

/* estilo de la lista */
#users-list {
    list-style: none;
    padding: 0;
}

/* estilo de las opciones de la lista */

#users-list li {
    list-style: none;
    padding: 10px 0;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}

#users-list a {
    color: black;
}

#users-list li:hover {
    color: rgb(31, 111, 177);
    border-bottom: 1px solid rgb(0, 140, 255);
}

.user-list-container img {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

#conexion {
    margin-left: 10px;
    border: none;
    width: 20px;
    height: 20px;
}

/* Estilo para la vista previa del mensaje */
.mensaje-previo {
    max-height: 40px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.contenedor {
    border: solid 1px black;
    padding: 5px;
    margin: 20px;
    box-shadow: 5px 5px 5px black;
}

.buscador {
    border: solid 1px black;
    padding: 10px;
}

a {
    color: black;
    display: flex;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    padding: 10px 0 10px;
    text-decoration: none;
}